<chart>
id=132150718500998883
symbol=EURUSD
period=5
leftpos=1881
digits=5
scale=8
graph=1
fore=0
grid=1
volume=0
scroll=1
shift=1
ohlc=1
one_click=1
one_click_btn=1
askline=0
days=0
descriptions=0
shift_size=20
fixed_pos=0
window_left=104
window_top=104
window_right=1573
window_bottom=625
window_type=3
background_color=0
foreground_color=16777215
barup_color=32768
bardown_color=255
bullcandle_color=32768
bearcandle_color=255
chartline_color=65280
volumes_color=3329330
grid_color=4294967295
askline_color=255
stops_color=255

<window>
height=100
fixed_height=0
<indicator>
name=main
<object>
type=23
object_name=Timer
period_flags=0
create_time=1570600158
description=00:28
color=65535
font=Arial
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
corner=1
x_distance=10
y_distance=20
</object>
<object>
type=16
object_name=NID_Day_Background_9_10
period_flags=0
create_time=1570607888
color=2704681
style=0
weight=1
background=1
filling=0
selectable=1
hidden=0
zorder=0
time_0=1570579200
value_0=1.098380
time_1=1570618500
value_1=1.095040
ray=0
</object>
<object>
type=2
object_name=NID_Top_Shadow
period_flags=0
create_time=1570607888
color=13959039
style=0
weight=3
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1570619400
value_0=1.098380
time_1=1570619400
value_1=1.097930
ray=0
</object>
<object>
type=2
object_name=NID_Body
period_flags=0
create_time=1570607888
color=13959039
style=0
weight=9
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1570619400
value_0=1.095580
time_1=1570619400
value_1=1.097930
ray=0
</object>
<object>
type=2
object_name=NID_Bottom_Shadow
period_flags=0
create_time=1570607888
color=13959039
style=0
weight=3
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1570619400
value_0=1.095580
time_1=1570619400
value_1=1.095040
ray=0
</object>
<object>
type=2
object_name=NID_Line_1
period_flags=0
create_time=1570607888
color=65535
style=0
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1570620000
value_0=1.098380
time_1=1570620000
value_1=1.095040
ray=0
</object>
<object>
type=2
object_name=NID_Line_2
period_flags=0
create_time=1570607888
color=65535
style=0
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1570621500
value_0=1.098380
time_1=1570621500
value_1=1.095040
ray=0
</object>
<object>
type=2
object_name=NID_Line_3
period_flags=0
create_time=1570607888
color=65535
style=0
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1570619700
value_0=1.098380
time_1=1570621800
value_1=1.098380
ray=0
</object>
<object>
type=2
object_name=NID_Line_4
period_flags=0
create_time=1570607888
color=65535
style=0
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1570619700
value_0=1.095040
time_1=1570621800
value_1=1.095040
ray=0
</object>
<object>
type=2
object_name=NID_Line_5
period_flags=0
create_time=1570607888
color=65535
style=0
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1570619700
value_0=1.097930
time_1=1570620600
value_1=1.097930
ray=0
</object>
<object>
type=2
object_name=NID_Line_6
period_flags=0
create_time=1570607888
color=65535
style=0
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1570619700
value_0=1.095580
time_1=1570620600
value_1=1.095580
ray=0
</object>
<object>
type=21
object_name=NID_Top_Shadow_Pips
period_flags=0
create_time=1570607888
description=45
color=13959039
font=Times New Roman
fontsize=10
angle=0
anchor_pos=7
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1570620600
value_0=1.098230
</object>
<object>
type=21
object_name=NID_Body_Pips
period_flags=0
create_time=1570607888
description=235
color=13959039
font=Times New Roman
fontsize=10
angle=0
anchor_pos=7
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1570620600
value_0=1.097147
</object>
<object>
type=21
object_name=NID_Bottom_Shadow_Pips
period_flags=0
create_time=1570607888
description=54
color=13959039
font=Times New Roman
fontsize=10
angle=0
anchor_pos=7
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1570620600
value_0=1.095400
</object>
<object>
type=21
object_name=NID_Day_Pips
period_flags=0
create_time=1570607888
description=334 pips
color=13959039
font=Times New Roman
fontsize=10
angle=0
anchor_pos=7
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1570623000
value_0=1.096710
</object>
</indicator>
<indicator>
name=Custom Indicator
<expert>
name=Market\Day Bar Info
flags=339
window_num=0
<inputs>
Show_Day=1
Shift=3
language=1
st=----- Section choice of colors -----
Up_Bar_Color=13959039
Up_Box_Color=2704681
Dn_Bar_Color=255
Dn_Box_Color=3487046
Dj_Bar_Color=3041385
Dj_Box_Color=17990
Ind_Lines_Color=65535
</inputs>
</expert>
shift_0=0
draw_0=0
color_0=0
style_0=0
weight_0=0
period_flags=0
show_data=1
</indicator>
</window>
</chart>

